/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * ---------------------------------------------------------
 *  Nextflow config file for Crick CAMP environment.
 *   This file contains configuration for:
 *   1) HPC submission via slurm
 *   2) Software via lmod system
 * ---------------------------------------------------------
 */

process {

    // Global process config
    executor = 'slurm'
    cpus = 1
    clusterOptions = '--mem-per-cpu=6G'

    // Use/unuse appropriate module paths and purge modules
    beforeScript = { "module unuse /camp/stp/babs/working/software/modules/all; \
                      module unuse /camp/stp/babs/working/software/eb/modules/all; \
                      module use /camp/apps/eb/dev/modules/all; \
		      module use /camp/apps/eb/intel-2017a/modules/all; \
		      module use /camp/apps/eb/modules/all; \
 		      module use /camp/apps/misc/stp/babs/manual/modules/all; \
		      module use /camp/apps/misc/stp/babs/easybuild/modules/all; \
 		      module purge" }
		      
    		      
    def seqprep = 'SeqPrep/0.0.0_maxqual'
    def bwa = 'BWA/0.7.17-foss-2018a'
    def samtools = 'SAMtools/1.8-foss-2018a'
    def picard = 'picard/2.10.1-Java-1.8.0_131'
    def pmdtools = 'pmdtools/0.60'
    def R = 'R/3.5.1-foss-2016b-BABS'
    def bcftools = 'BCFtools/1.8-foss-2016b'
    def vcftools = 'VCFtools/0.1.14-foss-2016b-Perl-5.22.1'
    def htsbox = 'htsbox/r345-foss-2018a'
    def multiqc = 'MultiQC/1.5-Python-2.7.15-foss-2018a' 

     withLabel: picard {
     		cpus = 1
		memory = '10.GB'
     }
     $seqprep {
     	      module = [ seqprep ]
     }
     $bwa_aln {
     	      module = [ bwa ]
	      cpus = 32
     }
     $bwa_bam {
	      module = [ bwa, samtools ]
     }
     $remove_duplicates {
     	      module = [ picard, samtools ]
     }
     $pmdtools_lib {
     	      module = [ pmdtools, samtools ]
     }
     $oxoG_metrics_lib {
     	      module = [ picard ]
     }	     
     $wgs_metrics_lib {
     	      module = [ picard, R ]
     }
     $collect_alignment_metrics_library {
     	      module = [  picard ]
     }
     $bam_to_vcf_library {
     	      module = [ samtools, bcftools ]
	      memory = 10G
     }
     $merge_bams {
              module = [ samtools ]
	      cpus = 32
     }
     $pmdtools {
     	      module = [ pmdtools, samtools ]
     }
     $wgs_metrics {
     	      module = [ picard, R ]
     }
     $collect_alignment_metrics {
      	      module = [  picard ]
     }
     $bam_to_vcf {
     	      module = [ samtools, bcftools ]
	      memory = 10G
     }
     $vcf_to_fasta {
     	      module = [ vcftools ]
	      memory = 10G
     }
     $randfa {
              module = [ htsbox ]
	      memory = 10G
     }
     $multiqc {
     	      module = [ multiqc ]
	      memory = 1G
     }
}
