/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for Genome paths
 * -------------------------------------------------
 * Defines reference genomes, using BABS paths
 * Can be used by any config that customises the base
 * path using $params.genome_base / --genome_base
 */

params {

    // Base directory containing genome assemblies and associated files
    genome_base = '/camp/svc/reference/Genomics/babs'

    // Custom paths to reference genomes.
    // Change these to reflect genome assemblies required to run your pipeline and the associated paths.
    genomes {
        'GRCh38.86' {
            fasta             = "${params.genome_base}/homo_sapiens/ensembl/GRCh38/release-86/genome/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa"
	    fai		      = "${params.genome_base}/homo_sapiens/ensembl/GRCh38/release-86/genome/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa.fai"
 	    gtf               = "${params.genome_base}/homo_sapiens/ensembl/GRCh38/release-86/gtf/Homo_sapiens.GRCh38.86.gtf"
	    bwa_idx	      = "${params.genome_base}/homo_sapiens/ensembl/GRCh38/release-86/genome_idx/bwa/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa"
        }
	'Felis_catus_9.0.93' {
	    fasta             = "${params.genome_base}/felis_catus/ensembl/Felis_catus_9.0/release-93/genome/Felis_catus.Felis_catus_9.0.dna_sm.toplevel.fa"
	    fai		      = "${params.genome_base}/felis_catus/ensembl/Felis_catus_9.0/release-93/genome/Felis_catus.Felis_catus_9.0.dna_sm.toplevel.fa.fai"
 	    gtf               = "${params.genome_base}/felis_catus/ensembl/Felis_catus_9.0/release-93/gtf/Felis_catus.Felis_catus_9.0.93.gtf"
	    bwa_idx	      = "${params.genome_base}/felis_catus/ensembl/Felis_catus_9.0/release-93/genome_idx/bwa/Felis_catus.Felis_catus_9.0.dna_sm.toplevel.fa"
	}
    }
}